div #content {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
}

text {
	font-family: sans-serif;
	text-anchor: middle;
	alignment-baseline: middle;
	-webkit-user-select: none;
}

#mainKanji {
	font-size: 120px;
}

#mainKanjiMeaning {
	font-size: 40px;
}

#scrollingKanji {
	font-size: 30px;
}

.scrollArrow {
	font-size: 20px;
}

.links line.linkInner {
  stroke: #FCEABD;
  stroke-width: 2;
}

.links line.linkOuter {
  stroke: Indigo;
  stroke-width: 4;
}

.nodes circle {
  stroke: none;
  stroke-width: 40px;
  fill: DarkSlateblue;
}

.nodes text {
	text-anchor: middle;
	alignment-baseline: middle;
}

.kanji {
	font-size: 30px;
	fill: Ivory;
	font-family: sans-serif;	
	text-shadow:
   -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;
}

.on {
	font-size: 10px;
	fill: FireBrick;
	font-family: sans-serif;
	font-weight: 600;
	text-shadow:
   -1px -1px 1px white,  
    1px -1px 1px white,
    -1px 1px 1px white,
     1px 1px 1px white;
}

.kun {
	font-size: 10px;
	fill: ForestGreen;	
	font-family: sans-serif;	
	font-weight: 600;
	text-shadow:
   -1px -1px 1px white,  
    1px -1px 1px white,
    -1px 1px 1px white,
     1px 1px 1px white;
}

.meaning {
	font-size: 14px;
	fill: black;	
	font-family: sans-serif;
	font-weight: 1200;
	text-shadow:
   -1px -1px 1px white,  
    1px -1px 1px white,
    -1px 1px 1px white,
     1px 1px 1px white;
}