div #content {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
}

text {
	font-family: sans-serif;
	text-anchor: middle;
	alignment-baseline: middle;
	-webkit-user-select: none;
}

#scrollingKanji {
	font-size: 30px;
}

.scrollArrow {
	font-size: 20px;
}

.links line.linkInner {
/*  stroke: white;
  stroke-width: 2;
*/}

.links line.linkOuter {
  stroke: black;
  stroke-width: 4;
  opacity: 0;
}

.nodes circle {
}

.kanji {
	font-size: 60px;
}

.on {
	font-size: 20px;
}

.kun {
	font-size: 20px;
}

.meaning {
	font-size: 15px;
}

#path {
	fill: none;
	stroke: black;
	stroke-width: 2px;
}

#mainPath {
	stroke: red;
	stroke-width: 2px;
	fill: none;
}