div #content {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
}

div #title {
	width: 80%;
	margin: 0 auto;
	text-align: center;	
}

div #controls {
	width: 80%;
	margin: 0 auto;
}

div .control-float {
	float: left;
}

.links line {
  stroke: #aaa;
  stroke-width: 3;
}

.nodes circle {
  stroke: none;
  stroke-width: 40px;
  fill: DarkSlateblue;
}

.nodes text {
	text-anchor: middle;
	alignment-baseline: middle;
}

.kanji {
	font-size: 30px;
	fill: Ivory;
	font-family: sans-serif;	
}

.on {
	font-size: 10px;
	fill: FireBrick;
	font-family: sans-serif;
	font-weight: 600;
}

.kun {
	font-size: 10px;
	fill: ForestGreen;	
	font-family: sans-serif;	
	font-weight: 600;
}

.meaning {
	font-size: 14px;
	fill: black;	
	font-family: sans-serif;
	font-weight: 1200;
}