@import "reset";

@font-face {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	src: url("type/Vollkorn-Regular.ttf");
}

a {
	color: black;
	text-decoration: none;
}

html {
	height: 100%;
}

body {
	font-family: 'Vollkorn', serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
}

#header {
	width: 100%;
	background: linear-gradient(to bottom, #b25fcb 0%,#ab47c1 50%,#8f00a8 51%,#c837db 100%);
	display: flex;
	justify-content: center;
}

#pagecontent {
	width: 100%;
	flex: 1;
	background: linear-gradient(135deg, #f6f1f9 0%,#f0e7f5 17%,#e3d1ef 50%,#dfc6ee 51%,#e1c9f3 59%,#e3cbfb 71%,#ddc6ee 84%,#dab4ea 100%);
}

#footer {
	width: 100%;
	height: 2em;
	background: linear-gradient(to bottom, #ab47c1 0%,#b25fcb 100%);
}

h1 {
	font-size: 80px;
	margin: 30px;
}

.blue {
	background: linear-gradient(155deg, #5faccb 0%,#4798c1 50%,#006aa8 51%,#3799db 100%);
}

.green {
	background: linear-gradient(155deg, #5fcb6f 0%,#47c15f 50%,#00a827 51%,#37db63 100%);
}

.red {
	background: linear-gradient(155deg, #cb5f61 0%,#c14b47 50%,#a80b00 51%,#db4737 100%);
}

.pink {
	background: linear-gradient(155deg, #cb5fa3 0%,#c1478e 50%,#a8005c 51%,#db378c 100%);
}

.purple {
	background: linear-gradient(155deg, #8e5fcb 0%,#8247c1 50%,#5700a8 51%,#9137db 100%);
}

.turquoise {
	background: linear-gradient(155deg, #5fcbb0 0%,#47c1a9 50%,#00a88c 51%,#37dbc5 100%);
}

.yellow {
	background: linear-gradient(155deg, #cbb35f 0%,#c1ad47 50%,#a89200 51%,#dbcb37 100%);
}

.orange {
	background: linear-gradient(155deg, #cb905f 0%,#c18447 50%,#a85a00 51%,#db9437 100%);
}

.gray {
	background: linear-gradient(155deg, #959595 0%,#848484 50%,#545454 51%,#898989 100%);
}

#linkContainerWrapper {
	display: flex;
	justify-content: space-around;
}

.linkContainer {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin: 20px;

	.indexLink {
		margin: 5px;
		border: 2px solid black;
		padding: 20px;
		border-radius: 50px;
		font-size: 1.6em;

		display: flex;
		justify-content: center;
	}
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

#content {
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
}

#kanjiInputContainer {
	height: 20px;
}

#kanjiGradeSelect {
	display: flex;
	justify-content: space-around;
	.gradeButton {
		margin: 5px;
		border: 1px solid black;
		padding: 7px;
		border-radius: 30px;
		font-size: 1em;

		display: flex;
		justify-content: center;
	}
}

.control-float {
	float: left;
}

.links line.linkInner {
  stroke: #FCEABD;
  stroke-width: 2;
}

.links line.linkOuter {
  stroke: Indigo;
  stroke-width: 4;
}

.nodes circle {
  stroke: none;
  stroke-width: 40px;
  fill: DarkSlateblue;
}

.nodes text {
	text-anchor: middle;
	alignment-baseline: middle;
}

node:focus {
	outline: none;
}

.kanji {
	font-size: 30px;
	fill: Ivory;
	font-family: sans-serif;	
	text-shadow:
   -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;
}

.on {
	font-size: 10px;
	fill: FireBrick;
	font-family: sans-serif;
	font-weight: 600;
	text-shadow:
   -1px -1px 1px white,  
    1px -1px 1px white,
    -1px 1px 1px white,
     1px 1px 1px white;
}

.kun {
	font-size: 10px;
	fill: ForestGreen;	
	font-family: sans-serif;	
	font-weight: 600;
	text-shadow:
   -1px -1px 1px white,  
    1px -1px 1px white,
    -1px 1px 1px white,
     1px 1px 1px white;
}

.meaning {
	font-size: 14px;
	fill: black;	
	font-family: sans-serif;
	font-weight: 1200;
	text-shadow:
   -1px -1px 1px white,  
    1px -1px 1px white,
    -1px 1px 1px white,
     1px 1px 1px white;
}